@use "../../../styles/global";

@mixin card-mixin {
  position: relative;
  width: 100%;
  border-radius: global.$card-radius;
  background: transparent;
  padding: 25px;
  overflow: hidden;
}

@mixin blur-properties {
  backdrop-filter: blur(10px);
  background-color: rgba(43, 43, 43, 0.21);
}

//card styles

.default-card {
  @include card-mixin;

  border-color: #2B2B2B;
  border: {
    style: solid;
    width: 2px;
    color: #2B2B2B;
  };
}

.blur-card {
  @include card-mixin;
  @include blur-properties;
}

.max-blur-card {
  @include card-mixin;
  @include blur-properties;

  border-radius: global.$max-radius;
}

.gradient-card {
  @include card-mixin;
  background: global.$default-gradient;
}

//---

.card-number {
  position: absolute;
  right: 0;
  top: -30px;
  opacity: 0.2;
}