@use "../../../styles/global";

.header-wrapper {
  width: 100%;
  top: 3%;
  position: fixed;
  z-index: 100000;
}

.header-container {
  width: 90%;
  margin: 0 auto;
  padding: 15px;
  border-radius: global.$max-radius;
  opacity: 1;
  height: 73px;
  backdrop-filter: blur(10px);
  background-color: rgba(255,255,255,.05);
}

.header-menu {
  visibility: hidden;
  width: 0;
}

.header-content {
  visibility: visible;
}

@media (max-width: 1024px) {
  .header-content {
    visibility: hidden;
    width: 0;
  }
  .header-menu {
    visibility: visible;
    width: auto;
  }
  .header-container {
    border-radius: 0;
    width: 100%;
    margin: 0;
  }
  .header-wrapper {
    top: 0;
  }
}