.flex-sb-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-s-c {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-e-c {
  display: flex;
  justify-content: end;
  align-items: center;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.mr-5 {
  margin-right: 5%;
}

.m-5 {
  margin: 5%;
}

.mb-5 {
  margin-bottom: 5%;
}

.mb-1 {
  margin-bottom: 1%;
}