$body-width: 1668px;
$body-bg-color: #0D0D0D;
$body-secondary-bg-color: #252525;
$link-color: #C3C3C3;
$default-radius: 21px;
$max-radius: 60px;
$default-transition: 0.3s;
$default-gradient: linear-gradient(97.53deg, #6DDCFF 17.63%, #7F60F9 115.95%);