@use "../../../styles/global";
.custom-link {
  font-weight: 400;
  font-size: 16px;
  color: global.$link-color;
  text-decoration: none;
  transition: global.$default-transition ease-in-out;
}

.custom-link:hover {
  color: white;
}